* {
    cursor: url('./img/uni.cur'), pointer;
}

.hide {
    display: none;
}

body {
    text-align: center;
    font-family: 'Ranchers', Arial, Helvetica, sans-serif;
    background-color: cornsilk;
}

#set-up, #win-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

#set-up h2, #win-container h2 {
    margin: 0;
}

#win-container button {
    margin-top: 20px;
}

#set-up > div, #win-container > div {
    display: flex;
    justify-content: space-around;
}

#set-up > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

button {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 3px;
    width: 100px;
    margin-bottom: 10px;
}

#set-up img {
    margin: 10px;
    display: block;
}

.token {
    max-width: 100px;
}

.row {
    display: flex;
    justify-content: center;
}

.space {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


